*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	position: cover;
	width: 100%;
	font-family: serif;
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
}
.container{
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}
/*//====================================================================================================================================== меню / меню бургер*/
header{
	width: 100%;
	background-color: #53535352;
}
.header-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.menu-list{
	display: flex;
	list-style: none;
}
.menu-link{
	color: #404040;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2.6px;
	text-decoration: none;
	opacity: .75;
	transition: opacity .2s linear;
}
.menu-link:hover{
    opacity: 1;
}
.menu-body{
	z-index: 1;
}
.menu-list li{
	position: relative;
	padding: 0px 20px;	
}

header li:focus-within > .submenu,
header li:hover > .submenu{
	display: flex;
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
    padding-top: 2em; 
}
.submenu {	
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	position: absolute;
	flex-direction: column;
}
.submenu li{
	margin-top: 5px;	
	background: #70707052;
	color: #404040;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2.6px;
	padding: 10px 60px 10px 15px;
	list-style-type: none;
}
.submenu a{
	color: black;
	text-decoration: none;
}


@media (max-width: 767px) {
	.menu-body{
		position: fixed;
		width: 100%;
		height: 100%;
        top: 0;
		left: 0;
		overflow: auto;
		background-color: #f7f7f7;
		padding: 150px 0px 20px 0px;
		transition: all 0.3s ease 0s;
        top: -100%;
        display: block;
		z-index: 2;
	}
	.menu-body.active{
		top: 0;
	}
	.menu-list{
       flex-direction: column;
       justify-content: center;
       align-items: center;
	}
	.menu-list li{
		padding: 0 0 45px 0;
	}
	
	
	.menu-list li:nth-child(2):after{
       display: block;
	}
	.menu-list li:after{
    	right: 50%;
		top: 40px;
		margin: 0px -2px 0px 0px;
	}
	.menu-link{
		font-size: 20px;
	}
}
@media(max-width:767px){
	.header{
		top: 15px;
	}
	.body.lock{
		overflow: hidden;
	}
    .header-burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 10;
		left: 100px;
	}
	.header-burger span{
		position: absolute;
		background-color:#000;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header-burger:before,
	.header-burger:after{
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
	}
	.header-burger:before{
		top: 0;
	}
	.header-burger:after{
		bottom: 0;
	}
	.header-burger.active span{
		transform: scale(0);
		background-color:#4d4959;
	}
	.header-burger.active:before{
        transform: rotate(45deg);
        top: 9px;
        background-color:#4d4959;
	}
	.header-burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
        background-color:#4d4959;
	}
	.arrow{
		position: absolute;
		right: -15px;
		top: 4px;
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid #000;
		border-right: none;
		transition: all 0.3s ease 0s;
 
	 }
	 .arrow.active{
		 transform: rotate(-180deg);
		 transition: all 0.3s ease 0s;
 
	 }
	 
	 header li:focus-within > .submenu,
	 header li:hover > .submenu{	
		 margin:0;
		 left: 100%;
		 top: -153px;
		 display: block;
	}
	
	 .submenu a{
		font-size: 15px;
	 }
	 .submenu li{
		left: 30px;
		padding: 10px 20px 10px 20px;
	}
 
}
/*//====================================================================================================================================== нижняя шапка*/
footer{
	background-color: #53535352;
	text-align: center;
}
footer p{
	color: #000;
}
.social img:hover{
	background: rgba(247, 247, 247, 0.5);
	border-radius: 50%;
	transition: all 0.5s ease 0s;
}
/*//====================================================================================================================================== фоновая картинка*/
.ibg{
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ibg img{
	display: none;
}
.page{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}
.main-screen{
	flex: 1 0 100%;
	position: relative;
}
.main-screen_bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/*//====================================================================================================================================== блок текст*/
.generation{
	padding: 120px 0;
    background-color: #f7f7f7;
}
@media (max-width: 900px) {
	.generation{
		padding: 80px 0;   
  }	
}
@media (max-width: 600px) {
	.generation{
		padding: 30px 0;    
  }	
}

.block{
    text-align: center;
}

.block-icon{
	margin: 0px 0px 30px 0px;
}
.block-title{
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin: 0px 0px 18px 0px;
    line-height: 24px;
}
.block-text{
	color: #848789;
	font-size: 18px;
	line-height: 34px;
}
.block-text_j{
	text-align: justify;
	font-size: 16px;
	line-height: 30px;	
}
.block-text_j:after{
	content: '';
	display: block;
	margin: 35px auto 0px auto; 
	width: 50px;
	height: 1px;
	background-color: #ebebeb;
}
/*//====================================================================================================================================== brands-block*/
@media (max-width: 1500px){
	.brands_content{
		padding: 40px 35px 30px 35px;		
	}
	.block-text_j:after{
        margin: 15px auto 0px auto;
	}
}
@media (max-width: 1100px){
	.brands-row{
        flex-direction: column;
	}
	.item{
		height: auto;
		padding: 0px 0px 70% 0px;
	}
}
.brands-row{
	display: flex;
}
.brands-column{
	flex: 0 1 33.333%;
}
.brands_column_b{
	flex: 0 1 66.666%
}
.brands_content{
    padding: 70px 65px 55px 65px;
    position: relative;
}
.brands_content:after{
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin: 0px 0px 0px -10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent; 
	border-top: 10px solid #fff;
}
.item{
	height: 100%;
	display: block;
	position: relative;
}
.item_image{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
}
.brands_image{
	padding: 0px 0px 37.51% 0px;
}
.item_logo{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease 0s;
	background-color: rgba(247, 247, 247, 0.5);
	z-index: 2;
	opacity: 0;
	visibility: hidden;
}
.item:hover .item_logo{
	opacity: 1;
	visibility: visible;
}
.brands_rev .brands_column{
	order: 1;
}
.brands_rev .brands_column_b{
    order: 2;
}
/*//====================================================================================================================================== slider-img*/
.slider{
	position: relative;
	padding: 120px 0 60px 0;
	background-color: #f7f7f7;
}
.slick-track{
	display: flex;
	align-items: flex-start;
}
.slick-list{
	overflow: hidden;
}
.slider .slick-arrow{
	margin: -30px 0px 0px 0px;
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/left.jpg') 0 0 / 100% no-repeat;
	border: none;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/right.png') 0 0 /100% no-repeat;
	border: none;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 5px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 11px;
	height: 11px;
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid #c8c8c8;
}
.slider .slick-dots li.slick-active button{
	background-color: #a9afb3;
}
/*//====================================================================================================================================== slider-text*/
.slider-item{
	text-align: center;
}
.slider-icon{
	margin: 0px 0px 36px 0px;
}
.slider-title{
	color: #353738;
	font-size: 18px;
	font-weight: 700;
	margin: 0px 0px 20px 0px;
}
.slider-text{
	text-align: center;
	color: #848789;
	font-size: 24px;
	font-style: italic;
	line-height: 34px;
}
/*//====================================================================================================================================== work block*/
.dif{
	padding: 120px 0 60px 0;    
}
@media (max-width: 900px) {
	.dif{
		padding: 80px 0;   
  }	
}
@media (max-width: 600px) {
	.dif{
		padding: 30px 0;    
  }	
}
.block-text_work{
	text-align: justify;
}
.block-text_work_u{
    padding: 0 0 50px 0;
    text-align: justify;
}
.block-text_work_t{
     text-align: justify;
     font-size: 14px;
}
@media (max-width: 600px) {
	.block-text_work{
		font-size: 15px;  
  }	
}
.razogrev,
.rasstjazhka{
	padding: 0 0 50px 0;
}
.static_rasstjazhka span
.ohlajdenije span,
.razogrev span,
.rasstjazhka span{
	font-weight: 1000;
}
@media (max-width: 1070px) {
	.vidi__block,
	.razminka__block{
		padding: 0 15px; 
  }	
}
.image_work{
	padding: 0 0 60px 0;
	text-align: center;
}
.image_work img{
	max-height: 600px;
	height: auto;
	max-width: 100%;
}
@media (max-width: 440px){
	.image_work img{
		padding: 0 20px;
	}
}
.viidii{
	padding: 0 0 40px 0;
}
.vidi{
	padding: 0 0 60px 0;
}
/*//====================================================================================================================================== form*/
.form{
	max-width: 550px;
	margin: 0 auto;
	color: #000;
	padding: 30px 0;

}
.form * {
	outline: none;
}

.form__body:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.7) url("../img/loading.gif") center / 50px no-repeat;
	opacity: 0;
	visibility: hidden;	
	transition: all 0.5s ease 0s;
}
.form__body._sending:after{
	opacity: 1;
	visibility: visible;
}
@media (max-width: 600px) {
	.form__body{
		padding: 0 20px;
	}
}
.form__title{
	text-align: center;
	font-weight: 500;
	margin: 0 0 30px 0;
}
.form__item{
	margin: 0 0 20px 0;
}
.form__label{
	font-size: 18px;
	display: block;
	margin: 0 0 10px 0;
}
.form__input{
	height: 50px;
	padding: 0 20px;
	border-radius: 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	border: 0px solid transparent;
    border-bottom: 1px solid #000;
	transition: all 0.7s ease 0s;
}
.form__input:focus{
	box-shadow: 0 0 15px #ccffe6;
}
.form__input._error{
	box-shadow: 0 0 15px red;
}
textarea.form__input{
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}
.checkbox__input{
	display: none;
}
.checkbox._error .checkbox__label:before{
	box-shadow: 0 0 15px red;
}
.checkbox__input{
	display: none;
}
.checkbox__input:checked + .checkbox__label:after{
	transform: scale(1);
}
.checkbox__label{
	font-size: 16px;
	line-height: 140%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}
.checkbox__label a{
	color: #999999;
}
.checkbox__label:before{
	content: "";
	align-self: flex-start;
	flex: 0 0 17px;
	height: 17px;
	background-color: #000;
	border-radius: 5px;
	margin: 0px 10px 0px 0px;
}
.checkbox__label:after{
	transition: transform 0.5s ease 0s;
	content: "";
	width: 11px;
	height: 11px;
	position: absolute;
	top: 3px;
	left: 3px;
	background-color: #fff;
	border-radius: 4px;
	transform: scale(0);
}
.form__button{
	width: 40%;
    display: flex;
	height: 60px;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	padding-top: 22px;
	padding-bottom: 22px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 500;
	box-shadow: white;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form__button:hover{
  background-color: #a6a6a6;
  color: #000;
}
/*//===================================================== calculator*/
.title__calc {
    text-align: center;
}

/* Стилі для форми */
#calorie-calculator {
    width: 300px;
    margin: 0 auto;
}

.div__calc {
    margin-bottom: 10px;
}
.div__calc__button{
	text-align: center;
}

/* Стилі для label */
.label__calc {
    display: inline-block;
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Стилі для radio-кнопок */
input[type="radio"] {
    margin-right: 5px; /* Відступ radio-кнопок від тексту */
}


input[type="number"],
.select__calc {
    width: 100%;
    padding: 8px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

#calculate-btn {
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    width: 40%;
    display: flex;
	height: 45px;
	justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all 0.3s;
    cursor: pointer;
}
#calculate-btn:hover{
  background-color: #a6a6a6;
  color: #000;
}

/* Результат */
#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.title__calc {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;

}
/*//===================================================== */
.iframe-container {
	width: 100%; 
	max-width: 100%; 
	margin: 0 auto; 
}
  
iframe {
	width: 100%; 
	height: 100vh; 
	overflow: hidden;
}
/*//===================================================== тренера*/
.card__people {
	cursor: pointer;
	padding: 0 20px;
}
.card__people img {
	width: 100%;
	max-width: 400px;
	max-height: 300px;
}
.card__people p {
	text-align: center;
	font-size: 19px;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.modal-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	max-width: 600px;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}

#infoContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
#infoContainer img{
	width: 100%;
	max-width: 500px;
}
#infoDetails  {
	text-align: center;
	max-width: 350px;
}
#infoDetails  p{
	margin-top: 20px;
	font-size: 17px;
}
.card__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1400px;
	margin: 50px;
}
.card__global__container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.train__container {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
}
.train__title {
	margin: 20px 0;
}
.train__subtitle {
	font-size: 20px;
}
/*================================================================================ pricing*/
.pricing {
	padding: 60px 0;
	background-color: #f0f1f1;
	text-align: center;
  }
.pricing__header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-us__title {
	font-size: 30px;
	margin-bottom: 20px;
}
.about-us__subtitle{
	font-size: 20px;
	margin-bottom: 20px;
}
  .pricing__content {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
  }
  .pricing__item {
	display: flex;
	padding-bottom: 40px;
  }

  .pricing__link {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 29.9%;
	background-color: #fff;
	transition: 0.4s ease 0s;
	margin: 20px;
  }
  .pricing__link:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .pricing__name {
	margin-top: 40px;
	font-size: 25px;
	letter-spacing: 1px;
  }
  .pricing__pricing {
	display: flex;
	padding: 0 0 15px 0;
	text-align: center;
  }
  .pricing__dollar {
	font-size: 25px;
	margin-top: 15px;
	margin-right: 3px;
  }
  .pricing__price {
	margin-top: 8px;
	font-size: 50px;
  }
  .pricing__month {
	margin-top: 35px;
	font-size: 17px;
  }
  .pricing__opis {
	font-size: 17px;
	opacity: 0.75;
  }
  .pricing__opis:after {
	content: "";
	width: 180px;
	height: 2px;
	content: "";
	display: block;
	margin: 5px auto 35px auto;
	background-color: #bfbfbf;
  }
.pricing__text__down {
	padding-bottom: 65px;
}
  .services__btn {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 45px;
  padding: 15px 0;
  border: 2px solid #000;
  text-transform: uppercase;
  color: #000;
  width: 150px;
  display: inline-block;
  flex-wrap: nowrap;
  cursor: pointer;
  transition: 0.4s ease 0s;
}
.services__btn:hover {
  background-color: #bfbfbf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*================================================================================ popup*/
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
}
.popup:target{
	opacity: 1;
	visibility: visible;
}

.popup:target .form-box {
	transform: translate(0px, 0px);
	opacity: 1;
}
.popup__pidpiska{
	font-size: 20px;
}
.popup__close{
	display: flex;
	justify-content: end;
	color: #000;
	text-decoration: none;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
	background-color: rgba(235, 234, 234, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
	transition: all 0.3s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
}
h2{
    font-size: 2em;
    color: #000;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #000;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #000;
}

.popup__button{
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    width: 40%;
    display: flex;
	height: 45px;
	justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all 0.3s;
    cursor: pointer;
	text-decoration: none;
}
.popup__button:hover {
    background-color: #a6a6a6;
    color: #000;
}